- extends 'base.html'
- load widget_tweaks

- block body
  .container-fluid
    %form(method="post")
      - csrf_token
      .row
        .col-sm-12
          .form-group.checkbox
            = form.project_rational.errors
            %label
              - render_field form.project_rational
              Project rational
      .row
        .col-sm-12
          .form-group.checkbox
            = form.project_justified.errors
            %label
              - render_field form.project_justified
              Project justified
      .row
        .col-sm-12
          .form-group.checkbox
            = form.cost_rational.errors
            %label
              - render_field form.cost_rational
              Cost rational
      .row
        .col-sm-12
          .form-group.checkbox
            = form.cost_justified.errors
            %label
              - render_field form.cost_justified
              Cost justified
      .row
        - for radio in form.vote
          .col-sm-4
            .form-group.radio
              - render_field radio
      .row
        .col-sm-4
          .form-group.label-floating
            = form.comment.errors
            %label
              - render_field form.comment class+="form-control"
      .row
        .col-sm-12.pull-right
          %input(type="submit" class="btn btn-default" value="Submit")
