- extends "base.html"
- load i18n
- load widget_tweaks


- block body


  %form(method="post" action=".")
    - csrf_token
    .row
      .col-sm-12
        .form-group.label-floating
          = form.name.errors
          %label(class="control-label") Username
          - render_field form.username class+="form-control"
          %p {{ form.username.errors.as_text }}
    .row
      .col-sm-12
        .form-group.label-floating
          = form.name.errors
          %label(class="control-label") Password
          - render_field form.password1 class+="form-control"
          %p {{ form.password1.errors.as_text }}
    .row
      .col-sm-12
        .form-group.label-floating
          = form.name.errors
          %label(class="control-label") Password confirmation
          - render_field form.password2 class+="form-control"
          %p {{ form.password2.errors.as_text }}
    .row
      .col-sm-12
        .form-group.label-floating
          = form.name.errors
          %label(class="control-label") Email
          - render_field form.email class+="form-control"
          %p {{ form.email.errors.as_text }}
    .row
      .col-sm-12
        .form-group.label-floating
          = form.name.errors
          %div
            %input{:class => "btn btn-block btn-primary", :type => "submit", :value => "register"}/
            %input{:name => "next", :type => "hidden", :value => "{{ next }}"}/
    .row
      .col-sm-12
        %p
          %a(href="{% url 'auth_login' %}")Login!

{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}